.pw {
  position: relative;
  width: 240px;
}

.pw.on .clear-btn {
  right: 35px;
}
.pw.on .show-toggle {
  display: block;
}

.pw-inp {
  outline: none;
  border: none;
  border-bottom: 1px solid #d7d7d7;
  background-color: transparent;
  width: 100%;
  height: 26px;
  padding: 4px 0 4px 8px;
}

.pw-inp:active,
.pw-inp:focus {
  border-bottom: 1px solid #4ab4ff;
}

.clear-btn,
.show-toggle {
  border: none;
  background-color: transparent;
  background-size: contain;
  position: absolute;
  cursor: pointer;
}

.clear-btn {
  background-image: url(cancel.png);
  width: 12px;
  height: 12px;
  bottom: 11px;
  right: 0;
}

.show-toggle {
  background-image: url(view.png);
  width: 17px;
  height: 17px;
  bottom: 9px;
  right: 0;
  display: none;
}