@charset "utf-8";

.options {
  position: relative;
  width: 500px;
}
.option-color {
  position: absolute;
    top: 0;
    left: 43px;
}

input[name='color'] {
  width: 30px;
  height: 30px;
  border: 1px solid;
  -webkit-appearance: none;
}

.color-white {
  background-color: white;
}

.color-black {
  background-color: black;
}

.color-beige {
  background-color: beige;
}

.color-brown {
  background-color: brown;
}

input[name='size'] {
  width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border: 1px solid #000;
}

.size-XS {

}

.size-S {

}

.size-L {

}

.size-XL {

}

.size-XXL {

}