@charset "utf-8";

.options {
  position: relative;
  width: 500px;
}

.color-label {
  position: absolute;
  top: 0;
  left: 43px;
  display: none;
}

.color-inp {
  width: 30px;
  height: 30px;
  border: 1px solid;
  -webkit-appearance: none;
}

.color-white {
  background-color: white;
}

.color-black {
  background-color: black;
}

.color-beige {
  background-color: beige;
}

.color-brown {
  background-color: brown;
}

.size-inp {
  display: none;
}

.size-label {
  width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border: 1px solid #000;
}

.color-inp:checked+.color-label {
  display: block;
}

.size-inp:checked+.size-label {
  border: 2px solid blue;
}